.headerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #262626;
  padding: 1rem 2rem;
  border-bottom: 3px solid #2271d1;
}

.logoImg {
  height: 40px;
}

.btnAdd {
  background-color: #2271d1;
  border-color: #2271d1;
  color: #fff;
  border: 2px solid #2271d1;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold;
}

.btnAdd:hover {
  border-color: #fff;
}
